@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap");
body, a, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

th, td {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
}

input {
  border: none;
  outline: none;
  font-family: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Comfortaa";
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(94, 94, 114)), to(rgb(255, 255, 255)));
  background: linear-gradient(rgb(94, 94, 114), rgb(255, 255, 255));
}

.wrapper {
  width: 500px;
}

.tab-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tab-block .tab {
  display: block;
  min-width: 70px;
  min-height: 30px;
  font-weight: 400;
  font-size: 12px;
  background: #fff;
  color: #5e5e72;
  cursor: pointer;
}
.tab-block .tab_active {
  background: #5e5e72;
  color: #fff;
}

.content-block {
  background: #5e5e72;
  color: #fff;
  padding: 20px 15px;
  height: 330px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content-block .top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-block .top-block > *:not(:last-child) {
  margin-right: 20px;
}
.content-block .top-block .calculate-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66%;
          flex: 0 1 66%;
}
.content-block .top-block .calculate-block .title {
  display: block;
  margin-bottom: 26px;
}
.content-block .top-block .calculate-block .enter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content-block .top-block .calculate-block .enter-block:not(:last-child) {
  margin-bottom: 10px;
}
.content-block .top-block .calculate-block .enter-block > *:not(:last-child) {
  margin-bottom: 5px;
}
.content-block .top-block .calculate-block .enter-block .enter__label {
  font-size: 14px;
}
.content-block .top-block .calculate-block .enter-block .enter__input {
  width: 100%;
  height: 25px;
  padding: 0 5px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content-block .top-block .calculate-block .enter-block .enter__input:focus {
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}
.content-block .top-block .settings-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34%;
          flex: 0 1 34%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-block .top-block .settings-block .dropdowns-wrapper > *:not(:last-child) {
  margin-bottom: 10px;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown .name {
  font-weight: 400;
  font-size: 14px;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown .dropdown__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  background: #47C6CE;
  cursor: pointer;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown .dropdown__btn .svg {
  fill: #fff;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown__text {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  width: 20px;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown__text .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #5e5e72;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown__text .checkbox-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #fff;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown__text .checkbox-block .checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown__text .checkbox-block .checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  width: 100%;
  height: 20px;
  padding-left: 5px;
  color: #5e5e72;
  cursor: pointer;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown__text .checkbox-block .checkbox__label::after {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  width: 20px;
  height: 20px;
  background: #47C6CE;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown__text .checkbox-block .checkbox__label::before {
  position: absolute;
  right: 4px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  width: 12px;
  height: 12px;
  background: url(../img/checkmark.svg);
  opacity: 0;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown__text .checkbox-block .checkbox__input:checked + .checkbox__label::before {
  opacity: 1;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown__text_right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown__text_width {
  width: 100%;
  background: transparent;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown__text_width > * {
  margin-top: 5px;
}
.content-block .top-block .settings-block .dropdowns-wrapper .dropdown-block .dropdown__text_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-block .top-block .settings-block .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 25px;
  font-size: 12px;
  background: #fff;
  color: #5e5e72;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.content-block .bottom-block::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.25);
  margin-top: 10px;
  margin-bottom: 15px;
}
.content-block .bottom-block .title {
  display: block;
  font-weight: 400;
  margin-left: 5px;
}
.content-block .bottom-block .calorie {
  display: block;
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  margin-right: 60px;
  margin-top: 15px;
}

.title {
  font-weight: 400;
  font-size: 18px;
}

::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(94, 94, 114, 0.5);
}

::-moz-placeholder {
  font-size: 12px;
  color: rgba(94, 94, 114, 0.5);
}

:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(94, 94, 114, 0.5);
}

::-ms-input-placeholder {
  font-size: 12px;
  color: rgba(94, 94, 114, 0.5);
}

::placeholder {
  font-size: 12px;
  color: rgba(94, 94, 114, 0.5);
}